<template>
  <header class="text-gray-400">
      <h3><a class="hover:text-gray-500" href="#">Home</a> / 
          <a class="hover:text-gray-500 underline" href="#">Report &amp; Insights</a>
      </h3>
  </header>
</template>

<script>
export default {
    name: 'CurrentRoute'
}
</script>

<style scoped>

</style>