<template>
    <div>
            <button class=" h-9 w-9
                            rounded-full 
                            border-2
                            border-gray-300
                            overflow-hidden
                            focus:outline-none
                            focus:border-white
                          "
                    v-on:click="isOpen = !isOpen"
            >
                <img class="h-full w-full object-cover" src="../assets/profile.png" alt="">
            </button>
            <button v-on:click="isOpen = false"
                    v-if="isOpen"
                    class="fixed top-0 right-0 bottom-0 left-0 h-full w-full
                           bg-black opacity-50
                          "
            >
            </button>
            <nav v-if="isOpen"
                 class="absolute bg-gray-50 rounded-lg p-2
                        right-0 mt-2 py-2 mr-10
                       "
            >
                <a class="block pt-1 pb-1 text-sm" href="#">
                    <span class="block">My Profile</span>
                    <span class="block text-gray-400">Change settings of your account.</span>
                </a>
                <hr class="border-t-1 border-gray-400">
                <a class="block  pt-1 pb-1 text-sm" href="#">
                    <span>Logout</span>
                </a>
            </nav>
    </div>
</template>

<script>
export default {
    name: 'DropdownAvatar',
    data() {
        return {
            isOpen: false
        }
    }
}
</script>

<style scoped>

</style>