<template>
    <tr class="border-t-2 border-gray-200">
        <td class="flex  items-center">
            <div class="    h-9 w-9
                            rounded-full 
                            border-2
                            border-gray-300
                            overflow-hidden
                            
                        ">
                <!-- Aquí iba la propiedad profile pero el link al momento de probar está roto -->
                <img class="h-full w-full object-cover" 
                     src="../assets/defaultProfile.png" 
                     alt="profile avatar"
                >
            </div>
            <div class="flex-grow pl-3 pt-2 pb-2">
                <span class="text-gray-600">{{employee}}</span>
                <br/>
                <span class="text-gray-400">{{email}}</span>
            </div>
        </td>
        <td>
            <span class="text-gray-600">{{lastLogin}}</span>
            <br/>
            <span class="text-gray-400">{{timeInterval}}</span>
        </td>
        <td>{{department}}</td>
        <td v-bind:class="(this.status === 'Active') ? 'text-green-500' : 'text-red-500'">
            {{status}}
        </td>
    </tr>
</template>

<script>

export default {
    name: 'Employ',
    props: {
        employee:String,
        email:String,
        lastLogin:String,
        timeInterval:String,
        department:String,
        status:String,
        profile:String
    }
}
</script>

<style scoped>

</style>