<template>
    <article>
        <h1 class="text-lg text-gray-600 pb-4">
            Employees
        </h1>
        <div class="rounded-lg border-2 border-gray-150 
                    pl-4 pr-4
                    text-sm
                    flex
        ">
            <table class="flex-grow">
                <tr class="text-gray-500">
                    <th class="pt-8">Employee</th>
                    <th class="pt-8">Last login</th>
                    <th class="pt-8">Department</th>
                    <th class="pt-8">Status</th>
                </tr>
                <employ   v-for="user in processedData"
                            v-bind:key="user.id"
                            v-bind:employee="user.last_name +' '+ user.first_name"
                            v-bind:profile="user.profile_img"
                            v-bind:email="user.email"
                            v-bind:lastLogin="user.sessions"
                            v-bind:timeInterval="user.timeInterval"
                            v-bind:department="user.department"
                            v-bind:status="user.status"
                >
                </employ>
            </table>
        </div>
    </article>
</template>

<script>
import Employ from './Employ.vue'
export default {
    components: {
        Employ
    },
    name: 'EmployeesTable',
    props: {
        processedData:Array
    }
}
</script>

<style scoped>

</style>