<template>
    <header class=" bg-blue-700 
                    pt-4 pb-4 pl-8 pr-8
                    rounded
    ">
        <nav class="flex space-x-10 items-center">
            <!-- logo -->
            <div>
                <span class="text-white 
                            uppercase text-2xl
                            font-semibold
                ">
                    logo
                </span>
            </div>
            <!-- Menu -->
            <ul class="flex space-x-10">
                <li class="text-white "
                    v-for="item in menu" v-bind:key="item.id"
                >
                    {{item}}
                </li>
            </ul>
            <span class="flex-grow"></span>
            <!-- User with dropdown -->
            <dropdown-avatar></dropdown-avatar>
        </nav>
    </header>
</template>

<script>
import DropdownAvatar from './DropdownAvatar.vue'
export default {
    components: {
        DropdownAvatar
    },
    name: 'HeaderMenu',
    data() {
        return {
            menu: ['Menu', 'Menu', 'Menu', 'Menu']
        }
    }
}
</script>

<style scoped>

</style>