<template>
  <aside>
      <h1 class="text-lg text-gray-600">
        Why do you create a startup?
      </h1>
      <h2 class="text-gray-400">
        Trends
      </h2>
      <div id="char"> <!-- pie chart -->
        <pie-chart :data="chartData" :options="chartOptions"></pie-chart>
      </div>
  </aside>
</template>

<script>
import PieChart from "../PieChart";

export default {
  name: 'PieChartBox',
  components: {
    PieChart
  },
  props: {
        reportsData:Array
  },
  data() {
    return {
      chartOptions: {
        hoverBorderWidth: 20
      },
      chartData: {
        hoverBackgroundColor: "red",
        hoverBorderWidth: 10,
        labels: this.getLabelsArr(), // example: "Green", "Red", "Blue"
        datasets: [
          {
            label: "Data One",
            backgroundColor: ["#BE65EF", "#5B21B6", "#A78BFA", "#8B5CF6"], // example: "#BE65EF", "#41B883", "#E46651", "#00D8FF"
            data: this.getDataArr() // example: 1, 10, 5
          }
        ]
      }
    };
  },
  methods: {
    getLabelsArr() {
      const reportsDataLength = this.reportsData.length;
      const labelsArr = [];
      for (let i = 0; i < reportsDataLength; i++) {
        labelsArr.push(this.reportsData[i].category);
      }
      return labelsArr;
    },
    getDataArr() {
      const reportsDataLength = this.reportsData.length;
      const dataArr = [];
      for (let i = 0; i < reportsDataLength; i++) {
        dataArr.push(this.reportsData[i].total);
      }
      return dataArr;
    }
  }
}
</script>

<style scoped>
  #char {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>