<template>
  <div  id="app"
        class="pt-6 pb-6 pl-6 pr-6 bg-gray-50"
  >
    <!-- <pre>{{users}}</pre> -->
    <header-menu></header-menu>
    <current-route></current-route>
    <div class="flex 
                flex-row
                space-x-12
    ">
      <pie-chart-box  v-bind:reportsData="reports"
                      class="flex-initial
                        shadow-2xl
                        pt-4 pb-4 pl-4 pr-4
      ">
      </pie-chart-box>
      <employees-table  class=" flex-grow
                                shadow-2xl
                                pt-4 pb-8 pl-4 pr-4
                        " 
                        v-bind:processedData="users"
      ></employees-table>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import HeaderMenu from './components/HeaderMenu.vue';
import CurrentRoute from './components/CurrentRoute.vue';
import PieChartBox from './components/PieChartBox.vue';
import EmployeesTable from './components/EmployeesTable.vue';

export default {
  name: 'app',
  components: {
    HeaderMenu,
    CurrentRoute,
    PieChartBox,
    EmployeesTable
  },
  async mounted() {
    this.getData('/api/users', '/api/reports');
  },
  data() {
    return {
      users: [],
      reports: []
    }
  },
  methods: {
    getData(usersData, reportsData) {
      axios.get(usersData)
        .then( respuesta => {
          this.users = respuesta.data.users;
          this.processData();
        });
      axios.get(reportsData)
        .then( respuesta => this.reports = respuesta.data.reports );
    },
    processData() {
      const usersLength = this.users.length;
      for (let i = 0; i < usersLength; i++) {
        // change status for Active or Inactive string
        (this.users[i].status) ? this.users[i].status = 'Active' : this.users[i].status = 'Inactive';
        // choose the most recent connection
        this.users[i].sessions = new Date(Math.max(...this.users[i].sessions.map( elem => new Date(elem))));
        // Decode date object in appropriate format
        this.users[i].sessions = this.users[i].sessions.toLocaleString('en-US', {month: 'long', day: 'numeric', year: 'numeric'});
        // establish interval time from time object to today
        const timeInterval = this.dateDiff(this.users[i].sessions);
        this.users[i].timeInterval = `${timeInterval} days ago`;
      }
    },
    dateDiff( stringDate) { // return amount of days between stringDate and today
      const diff = new Date() - Date.parse(stringDate);
      return (isNaN(diff)) ? NaN : Math.floor( diff / 86400000 );
    }
  }
}
</script>

<style lang="postcss">
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: auto;
}

</style>
